<div id="posts">

<% if(topics.length == 0) { %>
   <div class="post">没有内容了</div>
<% } else { %>
	<% topics.forEach(function (topic) { %>
        <div class="thumbnail post">
            <img src="<%= topic.desc %>" alt="" />
            <div class="caption">
            <label>作者:</label>
            <a href="" class="author">
               <%= topic.author_id%>
            </a>
            <div class="clear"></div>
            <span><%= topic.title%></span>
        </div>
        </div>
    <% }) %>
<% } %>
</div>