<% layout('layout') -%>
<% block('head').append('<link href="/css/square/main.css" rel="stylesheet">') %>
<div class="square">
</div>
<div id="loading" class="loading" style="visibility:hidden; margin:auto;">
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<% block('footer').append('<script src="http://cdn.bootcss.com/jquery_lazyload/1.9.3/jquery.lazyload.min.js"></script><script src="/js/square/main.js"></script>') %>