<% layout('layout') -%>
<% block('head').append('<link href="/css/square/main.css" rel="stylesheet">') %>
<div class="square">
</div>
<div id="loading" class="loading" style="visibility:hidden; margin:auto;">
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="no_content" style="display:none; text-align:center; width:100%;">亲，已经到头了</div>
<% block('footer').append('<script src="/lib/jquery_lazyload/jquery.lazyload.min.js"></script><script src="/js/square/main.js"></script>') %>